<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.qhubb.qhubb">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".myapplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name=".LoginActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main" >
        </activity>
        <activity
            android:name=".ChangePasswordActivity"
            android:label="@string/title_activity_change_password" >
        </activity>
        <activity
            android:name=".RegisterActivity"
            android:label="@string/title_activity_register">
        </activity>
        <activity
            android:name=".ForgotPasswordActivity"
            android:label="@string/title_activity_forgot_password">
        </activity>
        <activity
            android:name=".WebViewActivity"
            android:label="@string/title_activity_web_view">
        </activity>
        <activity android:name=".ViewTwitterActivity">
        </activity>
        <activity
            android:name=".UpdateStatus"
            android:label="Tweet">
        </activity>
        <activity
            android:name=".Timelines"
            android:label="Tweet">
        </activity>

        <activity
            android:name=".UpdateQueuePost"
            android:label="Queue Posts">
        </activity>
        <activity
            android:name=".AddQueuePost"
            android:label="Add Queue Post">
        </activity>
        <activity
            android:name=".DeleteEditQueue"
            android:label="Edit or Delete Queue Post">
        </activity>
            android:label="Edit or Delete Queue Post"></activity>
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="ca11772e5664c2827d1904232ff44c1f13a5983d" />
        <activity
            android:name=".UserTimeline"
            android:label="@string/title_activity_user_timeline" >
            android:name=".TimelineActivity"
            android:label="@string/title_activity_timeline" >
        </activity>
        <activity
            android:name=".FollowerActivity"
            android:label="@string/title_activity_follower" >
        </activity>
        <activity
            android:name=".FollowingActivity"
            android:label="@string/title_activity_following" >
        </activity>
        <activity
            android:name=".MentionTimeline"
            android:label="@string/title_activity_mention_timeline" >
        </activity>


        <provider
            android:name="com.facebook.FacebookContentProvider"
            android:authorities="com.facebook.app.FacebookContentProvider819385874804730"
            android:exported="true" />

    </application>


</manifest>
